{% extends '_base.html' %}
{% block content %}

<h1>{{ tasklist.title }}</h1>
<hr>
{% for task in tasklist.tasks.all %}
<p>
    <h3><a href="{{ task.get_absolute_url }}">{{ task.title }}</a></h3>
    <h4>due date: {{ task.due_date }}</h4>
    {% if task.is_important %}
        <h4 style="color: red">Important</h4>
    {% endif %}
    {% if task.is_not_important %}
        <h4 style="color: blueviolet">Not important</h4>
    {% endif %}
    {% if task.is_done %}
        <h4>Done!</h4>
        <h5>at {{ task.done_at }}</h5>
    {% else %}
        <h4>Not Done!</h4>
    {% endif %}
    <h4>Since: {{ task.created_at }}</h4>
    <h4>Updated at: {{ task.updated_at }}</h4>
</p>
<p>
    <h5><a href="{% url 'tasklist-task-update' tasklist.slug task.pk %}">Update Task</a></h5>
    <h5><a href="{% url 'tasklist-task-delete' tasklist.slug task.pk %}">Remove Task from tasklist</a></h5>
    <h5><a href="{% url 'task-delete' task.pk %}?tasklist={{ tasklist.slug }}">Delete Task</a></h5>
</p>
<hr>
{% endfor %}
    <h3><a href="{% url 'tasklist-task-create' tasklist.slug %}">Create a new task</a></h3>
    <hr>
    <h3><a href="{{ tasklist.get_absolute_update_url }}">Update {{ tasklist.title }} tasklist</a></h3> |
    <h3><a href="{{ tasklist.get_absolute_delete_url }}">Delete {{ tasklist.title }} tasklist</a></h3>

{% endblock %}