{% extends '_base.html' %}


{% block content %}
    <h1>Categories</h1>
    {% include 'snippets/search.html' %}
    <hr>
    {% for category in filter.qs %}
        <p>
            <h1><a href="{{ category.get_absolute_url }}">{{ category.title }}</a></h1>
            <h3>{{ category.tasks.count }} Tasks</h3>
        </p>
    {% endfor %}
    <hr>
    <h3><a href="{% url 'category-create' %}">Create a new Category</a></h3>
    <hr>
    {% include 'snippets/ordering.html' %}
    <hr>
    {% include 'snippets/filtering.html' %}
{% endblock %}