{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <h1>All Tasks</h1>
    {% include 'snippets/search.html' %}
    <hr>
    {% for task in filter.qs %}
        {% include 'snippets/task_detail.html' %}
         <p>
            <h5><a href="{% url 'task-update' task.pk %}">Update Task</a></h5>
            <h5><a href="{% url 'task-delete' task.pk %}">Delete Task</a></h5>
        </p>
        <hr>
    {% endfor %}
    <h3><a href="{% url 'task-create' %}">Create new task</a></h3>
    <hr>
    {% include 'snippets/ordering.html' %}
    <hr>
    {% include 'snippets/filtering.html' %}
    <hr>
{% endblock %}