{% extends '_base.html' %}

{% block content %}

    <h1>{{ task.title }}</h1>
    {% if task.due_date %}
        <h4>due date: {{ task.due_date }}</h4>
    {% endif %}
    {% if task.is_daily %}
        <h4>Daily</h4>
    {% endif %}
    {% if task.is_important %}
        <h4 style="color: red">Important</h4>
    {% endif %}
    {% if task.is_not_important %}
        <h4 style="color: blueviolet">Not important</h4>
    {% endif %}
    {% if task.is_done %}
        <h4>Done!</h4>
        <h5>at {{ task.done_at }}</h5>
    {% else %}
        <h4>Not Done!</h4>
    {% endif %}
    <h4>Since: {{ task.created_at }}</h4>
    <h4>Updated at: {{ task.updated_at }}</h4>
    {% if task.tasklists.count %}
        <h4>Is in
            {% for tasklist in task.tasklists.all %}
                <a href="{{ tasklist.get_absolute_url }}">{{ tasklist.title }}</a>
                {% if task.tasklists.last != tasklist %}
                    ,
                {% endif %}
            {% endfor %}
            tasklist(s)
        </h4>
    {% else %}
        <h4>Is not in any tasklist!</h4>
    {% endif %}
    <hr>
    <a href="{% url 'task-update' task.pk %}">Update Task</a> |
    <a href="{% url 'task-delete' task.pk %}">Delete Task</a>

{% endblock %}